---
/**
 * @typedef {Object} WorkExperienceItem
 * @property {string} company - Company name
 * @property {string} title - Job title
 * @property {number} startYear - Start year of employment
 * @property {number} [endYear] - End year of employment (optional)
 * @property {string} [description] - Job description (optional)
 * @property {string[]} [achievements] - List of achievements (optional)
 * @property {import('astro:assets').ImageMetadata} image - Company logo image
 */

/**
 * @type {Object} Props
 * @property {WorkExperienceItem[]} experiences - Array of work experiences
 */
const { experiences } = Astro.props

import TimelineItem from './TimelineItem.astro'
---

<section class='mt-10 sm:mt-14 space-y-8' aria-labelledby='work-experience-title'>
	<h2 id='work-experience-title' class='mb-5 font-medium text-zinc-800 dark:text-zinc-200'>
		Work experience
	</h2>

	<div class='flex flex-col gap-4' role='list'>
		{
			experiences.map((experience, index) => (
				<TimelineItem experience={experience} isLast={index === experiences.length - 1} />
			))
		}
	</div>
</section>
