---
import Layout from '../layouts/Layout.astro'

import imgMemnixLogo from '../assets/moutmout.webp'
import imgGauntlet from '../assets/gauntlet.webp'
import imgUcaEdt from '../assets/edt-uca.webp'
import imgStouufWebsite from '../assets/Stouuf.webp'
import imgKitsu from '../assets/kitsu.webp'
import imgChessbet from '../assets/chessbet.webp'
import Project from '../components/Index/Project.astro'

export const prerender = true
---

<Layout title='Projects' description='My personal projects'>
	<div class='sm:px-8 mt-16'>
		<div class='mx-auto w-full max-w-7xl lg:px-8'>
			<div class='relative px-4 sm:px-8 lg:px-12'>
				<div class='mx-auto max-w-2xl lg:max-w-5xl'>
					<div class='max-w-2xl'>
						<h1
							class='text-2xl font-bold tracking-tight text-zinc-800 sm:text-4xl dark:text-zinc-100'
						>
							My projects
						</h1>
						<p
							class='mt-8 text-pretty text-lg font-medium text-zinc-600 dark:text-zinc-400 sm:text-xl/8'
						>
							Here are some of my personal projects. I've been working on them for the past years.
						</p>
					</div>

					<div
						class='mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3'
					>
						<Project
							description='Memnix is a project that aims to create tools to facilitate learning for students in an organized way. It utilizes its spaced repetition system, enabling students to create and share learning materials.'
							image={imgMemnixLogo}
							link='https://github.com/memnix/'
							name='Memnix'
							stack='HTMX・Golang・PostgreSQL・MongoDB'
							lazy={false}
						/>

						<Project
							description='Chessbet is a project that aims to create a platform for chess betting. It will allow users to bet on their favorite players. The project is still in development.'
							link='https://github.com/corentings/chessbet'
							name='Chessbet'
							stack='Golang・PostgreSQL・HTMX'
							lazy={false}
							image={imgChessbet}
						/>

						<Project
							description='Gauntlet reborn is a project that aims to create a new version of the arcade game Gauntlet from the 80s.'
							link='https://github.com/corentings/gauntlet-reborn'
							name='Gauntlet Reborn'
							stack='C・SDL2'
							lazy={false}
							image={imgGauntlet}
						/>

						<Project
							description="A simple project to help UCA (Université Côte d'Azur) students to have a better view of their schedule and to be able to export it to their calendar."
							link='https://github.com/CorentinGS/uca-edt'
							name='Uca Edt'
							stack='Golang・Mongo・Docker'
							lazy={false}
							image={imgUcaEdt}
						/>
						<Project
							description='Kitsu is a multi-purpose discord bot that generates stats for your discord server to help you increase the activity and grow quicker.'
							image={imgKitsu}
							link='https://github.com/CorentinGS/Kitsu'
							name='Kitsu'
							stack='PostgreSQL・Golang・Rust'
							lazy={false}
						/>
						<Project
							description="This is a website I made for Stouuf, a french chess coach. It's a simple single page website to help him promote his courses and find new students."
							link='https://stouuf.net'
							name='Stouuf Website'
							stack='Tailwindcss'
							image={imgStouufWebsite}
							lazy={false}
						/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<style></style>
</Layout>
