---
import {Picture} from 'astro:assets';
import imgMemnix from '../assets/moutmout.png';
import Work from "./Work.astro";
---

<section class=" bg-base-200">
    <div class="lg:py-15 py-6 md:py-10 mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="relative flex flex-col">
                <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
                    <div class="lg:order-first lg:row-span-2"><h1
                            class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">I
                        code for a living but also as a passion.</h1>
                        <div class="mt-6 space-y-7 text-base text-zinc-600 dark:text-zinc-400">
                            <p>Currently, I'm studying for a BSC. Computer Science at the IU International University of
                                Applied Sciences..
                                I'm also a freelance backend developer and I've been working on several projects for the
                                past year including websites and web applications..</p>
                            <p>My main programming language is Golang but I've also worked with java, python,
                                typescript,
                                C/C++ and more.
                                I also have experience with databases such as PostgreSQL or MongoDB and I'm familiar
                                with
                                Docker, Docker Compose and even Podman.
                                Furthermore, I'm a passionate open-source enthusiast and have been contributing to
                                several
                                projects for a few years now. I've also created Memnix, a free and open-source flashcard
                                app
                                for Android and Web.</p>
                            <p>I like to manage communities and I'm currently the founder of The Kafejo a Discord
                                community
                                for developers and students.
                                You might also meet me on a chess board as I'm playing a lot and I'm managing a chess
                                community for my friend Stouuf on Discord, Twitch and YouTube.
                                I'm also a big fan of Linux and I've been using it since my youngest age. At the moment,
                                I'm
                                using OpenSuse Tumbleweed as my main operating system and Void Linux on my laptop.</p>
                        </div>
                    </div>
                    <div class="space-y-10 lg:pl-16 xl:pl-24">
                        <div class="rounded-2xl border border-base-content/30 p-6">
                            <h2 class="flex text-sm font-semibold">
                                <svg viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke-linecap="round"
                                     stroke-linejoin="round" aria-hidden="true" class="h-6 w-6 flex-none">
                                    <path d="M2.75 9.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z"
                                          class="fill-base-content/10 stroke-base-content/60"></path>
                                    <path d="M3 14.25h6.249c.484 0 .952-.002 1.316.319l.777.682a.996.996 0 0 0 1.316 0l.777-.682c.364-.32.832-.319 1.316-.319H21M8.75 6.5V4.75a2 2 0 0 1 2-2h2.5a2 2 0 0 1 2 2V6.5"
                                          class="stroke-base-content/60"></path>
                                </svg>
                                <span class="ml-3">Work</span></h2>
                            <ol class="mt-6 space-y-4">
                                <Work company="Memnix" role="Founder" startDate="2021" endDate="until Present"
                                      image={imgMemnix}/>
                                <Work company="Memnix" role="Founder" startDate="2021" endDate="until Present"
                                      image={imgMemnix}/>
                                <Work company="Memnix" role="Founder" startDate="2021" endDate="until Present"
                                      image={imgMemnix}/>

                                <Work company="Memnix" role="Founder" startDate="2021" endDate="until Present"
                                      image={imgMemnix}/>
                            </ol>
                            <a class="inline-flex items-center gap-2 justify-center rounded-md py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-50 font-medium text-zinc-900 hover:bg-zinc-100 active:bg-zinc-100 active:text-zinc-900/60 dark:bg-zinc-800/50 dark:text-zinc-300 dark:hover:bg-zinc-800 dark:hover:text-zinc-50 dark:active:bg-zinc-800/50 dark:active:text-zinc-50/70 group mt-6 w-full"
                               href="#">Download CV
                                <svg viewBox="0 0 16 16" fill="none" aria-hidden="true"
                                     class="h-4 w-4 stroke-zinc-400 transition group-active:stroke-zinc-600 dark:group-hover:stroke-zinc-50 dark:group-active:stroke-zinc-50">
                                    <path d="M4.75 8.75 8 12.25m0 0 3.25-3.5M8 12.25v-8.5" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>