---

import chessMoodImg from '../assets/chessmood.webp'
import echiquierNicoisImg from '../assets/logo_en.webp'
import trustmeImg from '../assets/logo_tfd.webp'
import oneTooImg from '../assets/onetoo.webp'
import ubleamImg from '../assets/logo_qualialtis.webp'
import { Image } from 'astro:assets'

---

<div class='mt-10 sm:mt-14'>
	<h2 class='mb-5 font-medium text-zinc-800 dark:text-zinc-200'>Work experience</h2>
	<!-- Timeline -->
	<div>
		<!-- Item -->
		<div class='group relative flex gap-x-5'>
			<!-- Icon -->
			<div
				class='relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-zinc-200 dark:after:bg-zinc-700'
			>
				<div class='relative z-10 size-6 flex justify-center items-center'>
					<Image
						alt=''
						loading='lazy'
						width='32'
						height='32'
						decoding='async'
						class='rounded-full object-cover'
						src={chessMoodImg}
						quality='60'
					/>
				</div>
			</div>
			<!-- End Icon -->

			<!-- Right Content -->
			<div class='grow pb-8 group-last:pb-0'>
				<h3 class='mb-1 text-xs text-zinc-600 dark:text-zinc-400'>2024 - Present</h3>

				<p class='font-semibold text-sm text-zinc-800 dark:text-zinc-200'>
					Web Designer &amp; Web Developer
				</p>

				<p class='mt-1 text-sm text-zinc-600 dark:text-zinc-400'>
					The company has high expectations and using OKRs there is a mutual understanding
					of expectations and performance.
				</p>

				<ul class='list-disc ms-6 mt-3 space-y-1.5'>
					<li class='ps-1 text-sm text-zinc-600 dark:text-zinc-400'>
						Designed template UIs and design systems in Figma.
					</li>
					<li class='ps-1 text-sm text-zinc-600 dark:text-zinc-400'>
						Converted UIs into responsive HTML and CSS with a mobile-first approach.
					</li>
					<li class='ps-1 text-sm text-zinc-600 dark:text-zinc-400'>
						Created custom illustrations and item description banners.
					</li>
					<li class='ps-1 text-sm text-zinc-600 dark:text-zinc-400'>
						Provided detailed documentation and customer support on GitHub.
					</li>
					<li class='ps-1 text-sm text-zinc-600 dark:text-zinc-400'>
						Engaged with users to address setup inquiries, bug issues, and feedback.
					</li>
				</ul>
			</div>
			<!-- End Right Content -->
		</div>
		<!-- End Item -->

		<!-- Item -->
		<div class='group relative flex gap-x-5'>
			<!-- Icon -->
			<div
				class='relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-zinc-200 dark:after:bg-zinc-700'
			>
				<div class='relative z-10 size-6 flex justify-center items-center'>
					<Image
						alt=''
						loading='eager'
						width='32'
						height='32'
						decoding='async'
						class='rounded-full object-cover'
						src={echiquierNicoisImg}
						quality='60'
					/>
				</div>
			</div>
			<!-- End Icon -->

			<!-- Right Content -->
			<div class='grow pb-8 group-last:pb-0'>
				<h3 class='mb-1 text-xs text-zinc-600 dark:text-zinc-400'>2021 - 2023</h3>

				<p class='font-semibold text-sm text-zinc-800 dark:text-zinc-200'>
					Senior Software Engineer at Mailchimp
				</p>

				<p class='mt-1 text-sm text-zinc-600 dark:text-zinc-400'>
					This is an excellent company and they reward their employees. It's becoming a
					big company but it's still private, so the culture is as good as it gets at
					1,000+ employees if you ask me. Managers are still adapting to the growth I
					think, but everyone has to. Great place to work.
				</p>
			</div>
			<!-- End Right Content -->
		</div>
		<!-- End Item -->

		<!-- Item -->
		<div class='group relative flex gap-x-5'>
			<!-- Icon -->
			<div
				class='relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-zinc-200 dark:after:bg-zinc-700'
			>
				<div class='relative z-10 size-6 flex justify-center items-center'>
					<Image
						alt=''
						loading='eager'
						width='32'
						height='32'
						decoding='async'
						class='rounded-full object-cover'
						src={trustmeImg}
						quality='60'
					/>
				</div>
			</div>
			<!-- End Icon -->

			<!-- Right Content -->
			<div class='grow pb-8 group-last:pb-0'>
				<h3 class='mb-1 text-xs text-zinc-600 dark:text-zinc-400'>2011 - 2021</h3>

				<p class='font-semibold text-sm text-zinc-800 dark:text-zinc-200'>
					Junior Software Engineer at Slack
				</p>

				<p class='mt-1 text-sm text-zinc-600 dark:text-zinc-400'>
					Work in Slack is one of the beautiful experience I can do in my entire life.
					There are a lot of interesting thing to learn and manager respect your time and
					your personality.
				</p>
			</div>
			<!-- End Right Content -->
		</div>
		<!-- End Item -->

		<!-- Item -->
		<div class='group relative flex gap-x-5'>
			<!-- Icon -->
			<div
				class='relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-zinc-200 dark:after:bg-zinc-700'
			>
				<div class='relative z-10 size-6 flex justify-center items-center'>
					<Image
						alt=''
						loading='eager'
						width='32'
						height='32'
						decoding='async'
						class='rounded-full object-cover'
						src={oneTooImg}
						quality='60'
					/>
				</div>
			</div>
			<!-- End Icon -->

			<!-- Right Content -->
			<div class='grow pb-8 group-last:pb-0'>
				<h3 class='mb-1 text-xs text-zinc-600 dark:text-zinc-400'>2010 - 2011</h3>

				<p class='font-semibold text-sm text-zinc-800 dark:text-zinc-200'>
					Freelance Graphic Designer
				</p>

				<ul class='list-disc ms-6 mt-3 space-y-1.5'>
					<li class='ps-1 text-sm text-zinc-600 dark:text-zinc-400'>
						Worked with a diverse range of clients, delivering tailored design solutions.
					</li>
					<li class='ps-1 text-sm text-zinc-600 dark:text-zinc-400'>
						Developed and maintained strong client relationships through effective
						communication and project management.
					</li>
					<li class='ps-1 text-sm text-zinc-600 dark:text-zinc-400'>
						Utilized tools such as Notion for project tracking, Mailchimp for email
						marketing designs, Slack for team collaboration, and GitHub for version
						control and project sharing.
					</li>
				</ul>
			</div>
			<!-- End Right Content -->
		</div>
		<!-- End Item -->

		<!-- Item -->
		<div class='group relative flex gap-x-5'>
			<!-- Icon -->
			<div
				class='relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-zinc-200 dark:after:bg-zinc-700'
			>
				<div class='relative z-10 size-6 flex justify-center items-center'>
					<Image
						alt=''
						loading='eager'
						width='32'
						height='32'
						decoding='async'
						class='rounded-full object-cover'
						src={ubleamImg}
						quality='60'
					/>
				</div>
			</div>
			<!-- End Icon -->

			<!-- Right Content -->
			<div class='grow pb-8 group-last:pb-0'>
				<h3 class='mb-1 text-xs text-zinc-600 dark:text-zinc-400'>2010 - 2011</h3>

				<p class='font-semibold text-sm text-zinc-800 dark:text-zinc-200'>
					Freelance Graphic Designer
				</p>

				<ul class='list-disc ms-6 mt-3 space-y-1.5'>
					<li class='ps-1 text-sm text-zinc-600 dark:text-zinc-400'>
						Worked with a diverse range of clients, delivering tailored design solutions.
					</li>
					<li class='ps-1 text-sm text-zinc-600 dark:text-zinc-400'>
						Developed and maintained strong client relationships through effective
						communication and project management.
					</li>
					<li class='ps-1 text-sm text-zinc-600 dark:text-zinc-400'>
						Utilized tools such as Notion for project tracking, Mailchimp for email
						marketing designs, Slack for team collaboration, and GitHub for version
						control and project sharing.
					</li>
				</ul>
			</div>
			<!-- End Right Content -->
		</div>
		<!-- End Item -->
	</div>
	<!-- End Timeline -->
</div>

