---
import Timeline from './Index/Timeline.astro'
import TimelineCard from './Index/TimelineCard.astro'
import { TimelineCardType } from 'src/utils/types'

import imgIuLogo from '../assets/iu_logo.png'
import imgMfStouuf from '../assets/MF_STOUUF.png'
import imgQualialtis from '../assets/logo_qualialtis.png'
import imgOneToo from '../assets/onetoo.jpg'
import imgEducative from '../assets/educative.webp'
import imgHackerRank from '../assets/hackerrank.png'
import imgMemnix from '../assets/moutmout.png'
import imgUca from '../assets/uca.png'
import imgEstaca from '../assets/estaca.jpg'
import imgKtk from '../assets/ktk.jpg'
import imgChesscom from '../assets/chesscom_logo.png'
import imgFfe from '../assets/ffe_logo.png'
import imgEN from '../assets/logo_en.png'

const experiences = [
	{
		name: 'Board Member',
		type: TimelineCardType.Volunteering,
		description: 'Board member of the Echiquier Niçois chess club.',
		start_date: '2024',
		link: 'https://echiquiernicois.com',
		image: imgEN
	},
	{
		name: 'Chess Referee - FFE',
		type: TimelineCardType.Volunteering,
		description: 'Refereeing chess tournaments for the French Federation.',
		start_date: '2024',
		link: 'http://www.echecs.asso.fr/%28rpoos355juwbzbqlethyfg55%29/FicheJoueur.aspx?Id=591532',
		image: imgFfe
	},
	{
		name: 'Twitch Moderator - Chess.com',
		type: TimelineCardType.Volunteering,
		description: 'Moderating the Chesscomfr twitch channel.',
		start_date: '2023',
		link: 'https://twitch.com/chesscomfr',
		image: imgChesscom
	},
	{
		name: 'IU - BSC. Computer Science',
		type: TimelineCardType.School,
		description:
			"Bachelor's degree in Computer Science from IU International University of Applied Sciences.",
		start_date: '2023',
		tools: 'German, Java, Operating System',
		link: 'https://www.iu.org/bachelor/computer-science/',
		image: imgIuLogo
	},
	{
		name: 'Freelance - Backend Developer',
		type: TimelineCardType.Work,
		description: 'Developing websites and web applications for clients.',
		start_date: '2022',
		tools: 'Golang, PostgreSQL, Docker...',
		link: 'https://corentings.dev/'
	},

	{
		name: 'Stouuf - Community Manager',
		type: TimelineCardType.Volunteering,
		description:
			'Managing the Stouuf community, website development, events organization and twitch moderation.',
		start_date: '2022',
		tools: 'Canva, Tailwindcss, Youtube, Twitch',
		image: imgMfStouuf,
		link: 'https://stouuf.net/'
	},
	{
		name: 'Educative.io - Courses',
		type: TimelineCardType.Course,
		description:
			'Following several courses on Educative.io including but not limited to: Golang, Python, C, Java, Data Structure...',
		start_date: '2022',
		tools: 'C, Golang, Data Structure, Java',
		link: 'https://www.Educative.io',
		image: imgEducative
	},
	{
		name: 'HackerRank - Certifications',
		type: TimelineCardType.Course,
		description:
			'Obtained the following certifications from HackerRank: Python(Basic), Golang(Basic), Golang(Intermediate).',
		start_date: 'March 2022',
		end_date: 'March 2022',
		tools: 'Golang, Python',
		link: 'https://www.hackerrank.com/certificates/03173cedd98b',
		image: imgHackerRank
	},
	{
		name: 'Memnix - Lead developer',
		type: TimelineCardType.Project,
		description:
			'Leading the development of the Memnix project, a spaced repetition learning platform.',
		start_date: '2021',
		image: imgMemnix,
		link: 'https://memnix.app/',
		tools: 'Golang, Nuxt, PostgreSQL, Docker...'
	},
	{
		type: TimelineCardType.School,
		description: "Studying computer science at Université Nice Côte d'Azur.",
		link: 'https://univ-cotedazur.fr/',
		image: imgUca,
		name: 'Unice - Computer Science student',
		start_date: 'September 2021',
		end_date: 'December 2022',
		location: 'Nice, France',
		tools: 'Python, Arduino'
	},
	{
		type: TimelineCardType.Work,
		description:
			'Linux embedded system and QT software development internship. Technical documentation writing and setup of project management tools.',
		image: imgOneToo,
		name: 'Onetoo - Internship',
		start_date: 'June 2021',
		end_date: 'July 2021',
		location: 'Nice, France',
		link: 'https://www.one-too.com/'
	},
	{
		type: TimelineCardType.School,
		description: 'First year of the aeronautical engineering degree program at Estaca.',
		link: 'https://www.estaca.fr/',
		image: imgEstaca,
		name: 'Estaca - Student',
		start_date: '2020',
		end_date: '2021',
		location: 'Laval, France'
	},
	{
		type: TimelineCardType.School,
		name: 'Scientific Baccalaureate - Graduate with Honor',
		description:
			'Obtained the Scientific Baccalaureate with honors with Engineering Sciences and English options at Cornat High School in Valognes, France.',
		start_date: '2020',
		location: 'Valognes, France',
		link: 'https://www.lycee-valognes.fr/'
	},
	{
		type: TimelineCardType.Others,
		name: 'Theatre actor - Addams Family Show',
		description: 'Performed in the Addams Family Show in Orlando, Florida for Kids Theater Kamp.',
		start_date: '2019',
		end_date: '2019',
		link: 'https://www.ktkamp.com/',
		image: imgKtk,
		location: 'Orlando, Florida'
	},
	{
		type: TimelineCardType.Others,
		name: 'PPL - Private Pilot License',
		description: 'Preparing for the private pilot license exam (postponed due to covid-19)',
		start_date: '2019',
		location: 'Cherbourg, France',
		link: 'https://ac-cherbourg.com/'
	},
	{
		type: TimelineCardType.Work,
		name: 'Qualialtis - Intern',
		description:
			'Devops internship at Qualialtis to learn about devops, kubernetes, helm and linux administration.',
		start_date: '2018',
		end_date: '2018',
		location: 'Toulouse, France',
		tools: 'Kubernetes, Helm, Debian',
		link: 'https://www.qualialtis.com/',
		image: imgQualialtis
	},
	{
		type: TimelineCardType.Others,
		name: 'Hackaton - Climathon Copernicus',
		description:
			'Climathon organized by Copernicus at Toulouse to find digitals solutions to the climate crisis. Got the 3rd price.',
		start_date: '2018',
		end_date: '2018',
		location: 'Toulouse, France'
	}
]
---

<section class='lg:py-15 mx-auto w-full max-w-7xl py-6 md:py-10 lg:px-8'>
	<div class='relative px-4 sm:px-8 lg:px-12'>
		<div class='relative flex flex-col items-center'>
			<h2 class='mx-auto text-center text-2xl font-bold md:text-3xl lg:text-5xl'>My Experiences</h2>
			<p class='mt-8 text-xl'>Here are my experiences and education.</p>
		</div>
	</div>
</section>
<section class='lg:py-15 mx-auto w-full max-w-7xl py-6 md:py-10 lg:px-8'>
	<div class='items-center lg:flex'></div>
	<div class='wrap relative h-full overflow-hidden p-10'>
		<div
			class='border-2-2 absolute left-[3.5rem] h-full border border-dashed border-gray-700 border-opacity-20 md:left-[50%]'
		>
		</div>
		<div>
			{
				experiences.map((card, index) => (
					<Timeline right={index % 2 !== 0}>
						<TimelineCard
							description={card.description}
							end_date={card.end_date}
							image={card.image}
							link={card.link}
							location={card.location}
							name={card.name}
							start_date={card.start_date}
							type={card.type}
							tools={card.tools}
							right={index % 2 !== 0}
						/>
					</Timeline>
				))
			}
		</div>
	</div>
</section>
