---
import Project from './Index/Project.astro'

import imgMemnixLogo from '../assets/moutmout.webp'
import imgGauntlet from '../assets/gauntlet.webp'
import imgUcaEdt from '../assets/edt-uca.webp'
import imgStouufWebsite from '../assets/Stouuf.webp'
import imgEchiquierNicois from '../assets/en.webp'
import imgKitsu from '../assets/kitsu.webp'
import imgChessbet from '../assets/chessbet.webp'
---

<section class='lg:py-15 mx-auto w-full max-w-7xl py-6 md:py-10 lg:px-8'>
	<div class='relative px-4 sm:px-8 lg:px-12'>
		<div class='relative flex flex-col items-center'>
			<h2 class='mx-auto text-center text-2xl font-bold md:text-3xl lg:text-5xl'>My Projects</h2>
			<p class='mt-8 text-xl'>Here are some of my personal projects.</p>
		</div>
	</div>
</section>
<section class='lg:py-15 mx-auto w-full max-w-7xl py-6 md:py-10 lg:px-8'>
	<div class='mx-auto flex max-w-7xl flex-col space-y-12 px-8 xl:px-12'>
		<div class='relative px-4 sm:px-8 lg:px-12'>
			<Project
				description='Memnix is a project that aims to create tools to facilitate learning for students in an organized way. It utilizes its spaced repetition system, enabling students to create and share learning materials.'
				image={imgMemnixLogo}
				link='https://github.com/memnix/'
				name='Memnix'
				reversed={true}
				stack='HTMX・Golang・PostgreSQL・MongoDB'
				ratio={1}
			/>

			<Project
				description='Chessbet is a project that aims to create a platform for chess betting. It will allow users to bet on their favorite players. The project is still in development.'
				link='https://github.com/corentings/chessbet'
				name='Chessbet'
				reversed={false}
				stack='Golang・PostgreSQL・HTMX'
				image={imgChessbet}
				ratio={1}
			/>
			<Project
				description='This is a website I made for my chess club. It uses Astro and TailwindCSS to create a simple and fast website. TinaCMS allows members to easily update the blog with new articles.'
				link='https://echiquiernicois.com'
				name='Echiquier Nicois'
				reversed={true}
				stack='Astro・Tailwindcss・TinaCMS'
				image={imgEchiquierNicois}
				ratio={16 / 9}
			/>

			<Project
				description='Gauntlet reborn is a project that aims to create a new version of the arcade game Gauntlet from the 80s.'
				link='https://github.com/corentings/gauntlet-reborn'
				name='Gauntlet Reborn'
				reversed={false}
				stack='C・SDL2'
				image={imgGauntlet}
				ratio={16 / 6}
			/>

			<Project
				description="A simple project to help UCA (Université Côte d'Azur) students to have a better view of their schedule and to be able to export it to their calendar."
				link='https://github.com/CorentinGS/uca-edt'
				name='Uca Edt'
				reversed={true}
				stack='Golang・Mongo・Docker'
				image={imgUcaEdt}
				ratio={16 / 9}
			/>
			<Project
				description='Kitsu is a multi-purpose discord bot that generates stats for your discord server to help you increase the activity and grow quicker.'
				image={imgKitsu}
				link='https://github.com/CorentinGS/Kitsu'
				name='Kitsu'
				stack='PostgreSQL・Golang・Rust'
				reversed={false}
				ratio={1}
			/>
			<Project
				description="This is a website I made for Stouuf, a french chess coach. It's a simple single page website to help him promote his courses and find new students."
				link='https://stouuf.net'
				name='Stouuf Website'
				reversed={true}
				stack='Tailwindcss'
				image={imgStouufWebsite}
				ratio={16 / 9}
			/>
		</div>
	</div>
</section>
