---
import { Picture } from 'astro:assets'

interface Props {
	name: string
	content: string
	company: string
	image: ImageMetadata
}

const { name, content, company, image } = Astro.props
---

<div class='sm:w-full h-full'>
	<figure class='rounded-2xl bg-zinc-50 dark:bg-zinc-800 p-8 h-full flex flex-col' role='article'>
		<blockquote class='flex-1'>
			<p class='text-base text-zinc-900 dark:text-zinc-100'>
				"{content}"
			</p>
		</blockquote>

		<figcaption class='mt-6 flex items-center gap-x-4'>
			<Picture
				src={image}
				alt={`Portrait of ${name}`}
				class='size-10 rounded-full object-cover bg-zinc-100 dark:bg-zinc-700'
				width={180}
				height={180}
				loading='lazy'
				decoding='async'
				formats={['avif', 'webp']}
			/>
			<div>
				<div class='font-semibold text-zinc-900 dark:text-zinc-100'>
					{name}
				</div>
				<div class='text-sm text-zinc-600 dark:text-zinc-400'>
					{company}
				</div>
			</div>
		</figcaption>
	</figure>
</div>
