---
import type { BlogPost } from "../../../utils/types";
import { Picture, Image } from "@astrojs/image/components";

interface Props {
    blogPost: BlogPost;
}

const { blogPost } = Astro.props;
---

<div
    class="flex w-full scale-100 transform transition-all duration-300 hover:scale-95"
>
    <div class="w-2/5 block h-40 overflow-hidden rounded object-cover">

    <Picture
        src={blogPost.image}
        formats={["avif", "webp", "png"]}
        loading="lazy"
        widths={[248, 512]}
        sizes="(max-width: 512px) 248px, 512px"
        aspectRatio={16/9}
        fit="cover"
        alt={blogPost.title}/>
       
    </div>
    <div class="w-3/5 pl-3">
        <p class="text-xs font-semibold uppercase">
            {blogPost.category}
        </p>
        <h3 class="text-md mb-3 font-semibold leading-tight">
            {blogPost.title}
        </h3>
        <p class="mb-3 text-sm font-semibold leading-tight">
            {blogPost.description}
        </p>
        <div class="hidden md:flex w-full items-center text-sm font-medium">
            <Image
                class="mr-3 h-10 w-10 rounded-full"
                src={blogPost.author.avatar}
                alt= {blogPost.author.name}
                width="64"
                height="64"
                format='webp'
                quality={50}
                aspectRatio="1/1"
                />
            <div class="flex flex-col">
                <span>{blogPost.author.name}</span>
                <span>{blogPost.date} ・{blogPost.timeToRead}</span>
            </div>
        </div>
    </div>
</div>
