---
import { Picture } from 'astro:assets'

const { name, stack, description, link, image, lazy } = Astro.props
---

<article class='flex flex-col items-start justify-start'>
	<div class='relative w-full'>
		<Picture
			src={image}
			formats={['avif', 'webp', 'jpeg']}
			quality={60}
			loading={lazy ? 'lazy' : 'eager'}
			width={400}
			height={400}
			alt=''
			class='aspect-video w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]'
		/>
		<div class='absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10'></div>
	</div>
	<div class='max-w-xl'>
		<div class='mt-8 flex items-center gap-x-4 text-xs'>
			<span class='text-zinc-600 dark:text-zinc-400'>{stack}</span>
		</div>
		<div class='group relative'>
			<h3 class='mt-3 text-lg/6 font-semibold text-zinc-800 dark:text-zinc-100'>
				<a href={link}>
					<span class='absolute inset-0'></span>
					{name}
				</a>
			</h3>
			<p class='mt-5 text-sm/6 text-zinc-600 dark:text-zinc-400'>
				{description}
			</p>
		</div>
	</div>
</article>
