---
import {Picture} from 'astro:assets';
import {t} from 'i18next';
import {Icon} from 'astro-iconify';

const {name, stack, description, link, image, reversed, ratio} = Astro.props;

function to_lower(str: string) {
    return str.toLowerCase();
}
---

<div class="mb-8 flex flex-col sm:flex-row">
    <div
            class={reversed
                ? 'mb-8 flex items-center sm:order-last sm:w-1/2 md:w-5/12'
                : 'mb-8 flex items-center sm:w-1/2 md:w-5/12'}
    >
        <Picture
                alt={name}
                src={image}
                class={reversed
                    ? 'hoveranimation transform-gpu rounded-lg shadow-xl hover:skew-y-3 hover:shadow-2xl'
                    : 'hoveranimation transform-gpu rounded-lg shadow-xl hover:-skew-y-3 hover:shadow-2xl'}
                fit="cover"
                formats={['avif', 'webp']}
                quality={30}
                loading="lazy"
                width={400}
                height={400}
                aspectRatio={ratio}
        />
    </div>
    <div class="mb-8 mt-5 flex flex-col justify-center sm:w-1/2 sm:pr-16 md:mt-0 md:w-7/12">
        <div class="mb-2 flex items-center">
            <p class="text-sm font-semibold uppercase text-secondary">
                {t('projects.tools')}
            </p>
            <Icon name="lucide:chevron-right" class="h-6 w-6"/>
            <p class="text-sm font-semibold uppercase">{stack}</p>
        </div>
        <h3 class="mt-2 text-2xl sm:text-left md:text-4xl">{name}</h3>
        <p class="text mt-5 text-lg md:text-left">{description}</p>
        <div class="flex">
            <a
                    href={link}
                    class="flex text-secondary hover:text-primary"
                    aria-label={t('projects.discover') + ' ' + to_lower(name)}
                    rel="noopener noreferrer"
                    data-umami-event="Project link clicked"
                    data-umami-name={name}
            >
                <span>{t('projects.discover')}{' '}{to_lower(name)}</span>
            </a>
        </div>
    </div>
</div>
