---
import {ImageMetadata} from "astro";
interface Props {
    title: string
    description: string
    image?: ImageMetadata
    name: string
    job: string
}

import {Picture} from 'astro:assets';


const {title, description, image, name, job} = Astro.props

const picture = image ? image : "https://spotlight.tailwindui.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fportrait.79754e9e.jpg&w=640&q=75"
---

<div class="p-8 border rounded-lg border-base-content/70">
    <p class="leading-loose text-gray-500 dark:text-gray-400">
        “{description}”
    </p>

    <div class="flex items-center mt-8 -mx-2">
        <Picture class="object-cover mx-2 rounded-full w-14 shrink-0 h-14 ring-4 ring-base-content/20" width="56"
                 height="56" quality="75" loading="lazy"
                 src={picture} alt=""/>

        <div class="mx-2">
            <h1 class="font-semibold ">{name}</h1>
            <span class="text-sm text-base-content/70">{title}, {job}</span>
        </div>
    </div>
</div>