---
import {BlogPosts} from "../../utils/blog"
import BlogPost from "../components/blog/BlogPost.astro"
import Navbar from "../components/utils/Navbar.astro"
import "../styles/global.css"
import {localizePath} from "astro-i18next"
import {HeadHrefLangs} from "astro-i18next/components"
import {LanguageSelector} from "astro-i18next/components"
import ThemeSwitcher from "../components/utils/ThemeSwitcher.astro"
import {t} from "i18next"

// Import fonts
import "@fontsource/syne"
import "@fontsource/nunito"
import PostHeader from "../components/utils/PostHeader.astro"
import {ViewTransitions} from "astro:transitions";
import {Icon} from "astro-iconify";

const {frontmatter} = Astro.props
const blogPost = BlogPosts.getBlogPostByLink(frontmatter.link)

let meta: {} = {}

if (blogPost) {
    meta = {
        title: blogPost.title, description: blogPost.description, image: blogPost.image, date: blogPost.date, author: "Corentin Giaufer--Saubert"
    }
} else {
    meta = {
        title: frontmatter.title, description: frontmatter.description, image: frontmatter.image, date: frontmatter.date
    }
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <ViewTransitions/>

    <script
            async
            src="https://umami.memnix.app/script.js"
            data-website-id="fca9df7f-70a1-466a-9fc8-d745bb4c33f0"
    ></script>
    <script is:inline>
        // ☝️ This script prevent the FART effect.
        if (localStorage.getItem("theme") === null) {
            document.documentElement.setAttribute("data-theme", "light")
        } else document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"))
        // "theme" LocalStorage value is set by the package to remember user preference.
        // The value is checked and applyed before rendering anything.
    </script>
    <script>
        import {themeChange} from "theme-change"

        themeChange()
        // 👆 you could import the CDN directly instead of these two lines
    </script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <link rel="icon" href="/favicon.ico"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <meta name="description" content={meta.description}/>
    <meta name="og:title" content={meta.title}/>
    <meta name="og:site_name" content="CorentinGS"/>
    <meta name="article:author" content={meta.author}/>
    <meta name="article:published_time" content={meta.date}/>
    <meta name="og:description" content={meta.description}/>
    <meta name="og:type" content="article"/>
    <meta name="og:url" content="https://corentings.dev"/>
    <meta name="og:image" content={meta.image}/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="https://corentings.dev"/>
    <meta name="twitter:creator" content="GSCorentinDev"/>
    <meta name="twitter:title" content={meta.title}/>
    <meta name="twitter:description" content={meta.description}/>
    <meta name="twitter:image" content={meta.image}/>
    <HeadHrefLangs/>
    <title>{frontmatter.title}</title>
</head>
<body>
<main transition:animate="slide">
    <!-- Navbar -->
    <Navbar lang={false}/>
    <!-- Page Slot -->
    <BlogPost blogPost={blogPost}>
        <slot/>
    </BlogPost>

    <div class="fixed bottom-5 right-5 hoveranimation btn-accent btn-sm btn hidden" id="btn-back-to-top">
        <Icon name="lucide:arrow-up" class="h-6 w-6"/>
    </div>

    <input type="checkbox" id="my-modal-6" class="modal-toggle"/>
    <label for="my-modal-6" class="modal cursor-pointer modal-bottom sm:modal-middle">
        <label class="modal-box relative" for="">
            <ul class="menu w-80 overflow-y-auto bg-base-100 p-4">

                <li class="py-3">
                    <ThemeSwitcher/>
                </li>
                <li class="py-3">
                    <LanguageSelector
                            showFlag={true}
                            class="my-select-class select-bordered select-secondary select select-md w-full max-w-xs bg-base-200 text-base-content"
                    />
                </li>
                <li>
                    <a href={localizePath("/blog")} rel="nofollow prefetch"
                    >{t("navbar.blog")}</a
                    >
                </li>
                <li>
                    <a href={localizePath("/links")} rel="nofollow prefetch">
                        {t("navbar.links")}
                    </a>
                </li>
            </ul>
        </label>
    </label>
</main>
</body>
</html>


<script type="text/javascript" is:inline>
    mybutton = document.getElementById("btn-back-to-top");

    document.addEventListener('astro:page-load', () => {
        const backToTop = () => {
            window.scrollTo({top: 0, behavior: "smooth"});
        };
        const onScroll = () => {
            if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
                mybutton.classList.remove("hidden");
            } else {
                mybutton.classList.add("hidden");
            }
        };
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);
        window.addEventListener("scroll", onScroll);
    }, {once: true});
</script>