---
import { BlogPosts } from "../../utils/blog"
import BlogPost from "../components/blog/BlogPost.astro"
import Navbar from "../components/utils/Navbar.astro"
import "../styles/global.css"
import { localizePath } from "astro-i18next"
import { HeadHrefLangs } from "astro-i18next/components"
import { LanguageSelector } from "astro-i18next/components"
import ThemeSwitcher from "../components/utils/ThemeSwitcher.astro"
import { t } from "i18next"

// Import fonts
import "@fontsource/syne"
import "@fontsource/nunito"
import PostHeader from "../components/utils/PostHeader.astro";

const { frontmatter } = Astro.props
const blogPost = BlogPosts.getBlogPostByLink(frontmatter.link)

let meta: {} = {}

if (blogPost) {
  meta = {
    title: blogPost.title,
    description: blogPost.description,
    image: blogPost.image,
    date: blogPost.date,
    author: "Giaufer Saubert Corentin"

  }
} else {
  meta = {
    title: frontmatter.title,
    description: frontmatter.description,
    image: frontmatter.image,
    date: frontmatter.date,
  }
}

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script async defer data-website-id="90cb3ac1-5c94-4ed9-bec6-0a48a85c1575" src="https://umami.memnix.app/umami.js"></script>
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light")
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        )
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from "theme-change"
      themeChange()
      // 👆 you could import the CDN directly instead of these two lines
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="description" content={meta.description} />
    <meta name="og:title" content={meta.title} />
    <meta name="og:site_name" content="Corentin GS">
    <meta name="article:author" content={meta.author}>
    <meta name="article:published_time" content={meta.date}>
    <meta
      name="og:description"
      content={meta.description}
    />
    <meta name="og:type" content="article" />
    <meta name="og:url" content="https://corentings.dev" />
    <meta
      name="og:image"
      content={meta.image}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://corentings.dev" />
    <meta name="twitter:creator" content="@CorentinGS" />
    <meta
      name="twitter:title"
      content={meta.title}
    />
    <meta
      name="twitter:description"
      content={meta.description}
    />
    <meta
      name="twitter:image"
      content={meta.image}
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <HeadHrefLangs />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <main>
      <div class="drawer">
        <input id="my-drawer-3" class="drawer-toggle" type="checkbox" />
        <div class="drawer-content flex flex-col">
          <!-- Navbar -->
          <Navbar lang={false} />
          <!-- Page Slot -->
          <BlogPost blogPost={blogPost}>
            <slot />
          </BlogPost>
        </div>

        <div class="drawer-side">
          <label class="drawer-overlay" for="my-drawer-3"></label>
          <ul class="menu w-80 overflow-y-auto bg-base-100 p-4">
            <!-- Sidebar content here -->
            <li>
              <a href={localizePath("/blog")} rel="nofollow prefetch"
                >{t("navbar.blog")}</a
              >
            </li>
            <li>
              <a href={localizePath("/links")} rel="nofollow prefetch">
                {t("navbar.links")}
              </a>
            </li>
            <li>
              <a
                rel="noopener noreferrer nofollow"
                target="_blank"
                href="https://github.com/CorentinGS/CorentinGS/blob/main/CorentinGS%20CV.pdf"
                >{t("navbar.resume")}
              </a>
            </li>
            <li class="py-3">
              <ThemeSwitcher />
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
