---
import Navbar from "../components/utils/Navbar.astro"
import "../styles/global.css"
import i18next, {t} from "i18next"
import {HeadHrefLangs} from "astro-i18next/components"
import {LanguageSelector} from "astro-i18next/components"
import ThemeSwitcher from "../components/utils/ThemeSwitcher.astro"
import {SEO} from "astro-seo";
import { Schema } from "astro-seo-schema"
import { GoogleAnalytics } from 'astro-analytics';

import {localizePath} from "astro-i18next"

// Import fonts
import "@fontsource/syne"
import "@fontsource/nunito"

export interface Props {
    title: string
}

const {title} = Astro.props
---

<!DOCTYPE html>
<html lang={i18next.language}>
<head>
    <GoogleAnalytics id="G-YEDCDRGXVG" />

    <link rel="preconnect" href="https://umami.memnix.app"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://corentings.dev/">
    <meta name="author" content="Corentin Giaufer--Saubert">
    <script
            async
            src="https://umami.memnix.app/script.js"
            data-website-id="fca9df7f-70a1-466a-9fc8-d745bb4c33f0"
    ></script>
    <script is:inline>
        // ☝️ This script prevent the FART effect.
        if (localStorage.getItem("theme") === null) {
            document.documentElement.setAttribute("data-theme", "dark")
        } else document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"))
        // "theme" LocalStorage value is set by the package to remember user preference.
        // The value is checked and applyed before rendering anything.
    </script>
    <script>
        import {themeChange} from "theme-change"

        themeChange()
        // 👆 you could import the CDN directly instead of these two lines
    </script>
    <meta charset="UTF-8"/>
    <meta name="theme-color" content="#38555f"/>
    <meta name="generator" content={Astro.generator}/>
    <HeadHrefLangs/>
    <SEO
            title="Corentin Giaufer--Saubert・Freelance Developer・Open-Source Enthusiast・Chess Lover"
            description="Explore CorentinGS・Freelance Backend Developer & BSC. Computer Science student. Expertise in Golang, Docker, Linux, crafting captivating websites. Embrace open-source & Memnix flashcard app. Engage with vibrant communities. Join an innovative journey at corentings.dev. 🚀"
            openGraph={{
                basic: {
                    title: "Corentin Giaufer--Saubert・Freelance Backend Developer & Open-Source Enthusiast",
                    description: "Explore CorentinGS・Freelance Backend Developer & BSC. Computer Science student. Expertise in Golang, Docker, Linux, crafting captivating websites. Embrace open-source & Memnix flashcard app. Engage with vibrant communities. Join an innovative journey at corentings.dev. 🚀",
                    type: "profile",
                    image: "https://media.licdn.com/dms/image/D4E16AQG54heiPIbrNw/profile-displaybackgroundimage-shrink_350_1400/0/1684257938413?e=1695859200&v=beta&t=krfPUcahukL1BQ5FS0DeLRDVPPjMpRAj8oHc51kZGs0",
                }
            }}
            twitter={{
                creator: "@GSCorentinDev"
            }}
            extend={{
                link: [{rel: "icon", href: "/favicon.ico"}, {
                    rel: "icon", href: "/favicon-32x32.png", sizes: "32x32", type: "image/png"
                }, {
                    rel: "icon", href: "/favicon-16x16.png", sizes: "16x16", type: "image/png"
                }, {rel: "apple-touch-icon", href: "/apple-touch-icon.png", sizes: "180x180"}, {
                    rel: "mask-icon", href: "/safari-pinned-tab.svg", color: "#38555f"
                }, {rel: "manifest", href: "/site.webmanifest"}, {
                    rel: "me", href: "https://hachyderm.io/@TheLittlePrince"
                },], meta: [{
                    name: "twitter:image",
                    content: "https://pbs.twimg.com/profile_banners/1007360746433466378/1659434576/600x200",
                }, {
                    name: "twitter:title",
                    content: "Corentin Giaufer--Saubert・Freelance Backend Developer & Open-Source Enthusiast"
                }, {
                    name: "twitter:description",
                    content: "Explore CorentinGS・Freelance Backend Developer & BSC. Computer Science student. Expertise in Golang, Docker, Linux, crafting captivating websites. Embrace open-source & Memnix flashcard app. Engage with vibrant communities. Join an innovative journey at corentings.dev. 🚀"
                },],
            }}
    />
    <Schema
            item={{
                "@context": "https://schema.org",
                "@type": "Person",
                name: "Corentin Giaufer--Saubert",
                alternateName: "CorentinGS",
                jobTitle: "Freelance Backend Developer",
                description: "I'm a 20-year-old freelance backend developer and BSC. Computer Science student with a passion for technology and open-source. Explore my projects, including Memnix, an open-source flashcard app, and discover vibrant communities I manage. Join me on an innovative journey through technology and creativity.",
                alumniOf: {
                    "@type": "CollegeOrUniversity",
                    name: ["Université Côte d'Azur", "IU International University of Applied Sciences"],
                },
                url: "https://corentings.dev",
                image: "https://corentings.dev/favicon-32x32.png",
                sameAs: [
                    "https://twitter.com/GSCorentinDev",
                    "https://www.linkedin.com/in/corentin-giaufer-saubert/",
                    "https://github.com/corentings",
                    "https://hachyderm.io/@TheLittlePrince",
                    ],
                "memberOf": [
                    {
                        "@type": "Organization",
                        "name": "The Kafejo",
                        "url": "https://corentings.dev/discord"
                    },
                    {
                        "@type": "Organization",
                        "name": "Memnix",
                        "url": "https://memnix.app"
                    },
                ],
                knowsAbout: ["Golang", "Linux", "Docker", "Computer Science", "Chess", "C/C++"],
                email: "contact@corentings.dev",
                "knowsLanguage": ["French", "English"],
                "worksFor": {
                    "@type": "Organization",
                    "name": "CorentinGS",
                    "url": "https://corentings.dev",
                },
            }}
    />
</head>
<body>
<main>
    <!-- Navbar -->
    <Navbar lang={true}/>
    <!-- Page Slot -->
    <slot/>

    <input type="checkbox" id="my-modal-6" class="modal-toggle"/>
    <label for="my-modal-6" class="modal cursor-pointer modal-bottom sm:modal-middle">
        <label class="modal-box relative" for="">
            <ul class="menu w-80 overflow-y-auto bg-base-100 p-4">

                <li class="py-3">
                    <ThemeSwitcher/>
                </li>
                <li class="py-3">
                    <LanguageSelector
                            showFlag={true}
                            class="my-select-class select-bordered select-secondary select select-md w-full max-w-xs bg-base-200 text-base-content"
                    />
                </li>
                <li>
                    <a href={localizePath("/blog")} rel="nofollow prefetch"
                    >{t("navbar.blog")}</a
                    >
                </li>
                <li>
                    <a href={localizePath("/links")} rel="nofollow prefetch">
                        {t("navbar.links")}
                    </a>
                </li>
            </ul>
        </label>
    </label>
</main>
</body>
</html>
