---
import { Profile, Config } from '../../../utils/config';

import { Icon } from 'astro-iconify';

const social = Config;
const profile = Profile;

const copyrightYear = new Date().getFullYear();
---

<footer class="footer items-center bg-base-200 p-4">
	<div class="grid-flow-col items-center">
		<p>
			Copyright © {copyrightYear} - All right reserved - {profile.full_name}
		</p>
	</div>
	<div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
		<a
			href={`mailto:${profile.email}`}
			target="_blank"
			aria-label="mail"
			rel="noopener noreferrer nofollow"
		>
			<Icon name="lucide:mail" class="hoveranimation h-6 w-6" />
		</a>
		<a
			href={'https://twitter.com/' + social.twitter}
			target="_blank"
			aria-label="twitter"
			rel="noopener noreferrer"
		>
			<Icon name="ri:twitter-x-fill" class="hoveranimation h-6 w-6" />
		</a>
		<a
			href={social.discord}
			target="_blank"
			aria-label="discord"
			rel="nofollow noopener noreferrer"
		>
			<Icon name="la:discord" class="hoveranimation h-6 w-6" />
		</a>
		<a
			href={'https://github.com/' + social.github}
			target="_blank"
			aria-label="github"
			rel="me noopener noreferrer"
		>
			<Icon name="lucide:github" class="hoveranimation h-6 w-6" />
		</a>
		<a
			href={'https://www.linkedin.com/in/' + social.linkedin}
			target="_blank"
			aria-label="linkedin"
			rel="me noopener noreferrer"
		>
			<Icon name="lucide:linkedin" class="hoveranimation h-6 w-6" />
		</a>
		<a rel="me noopener noreferrer" href={social.mastodon} aria-label="mastodon" target="_blank">
			<Icon name="la:mastodon" class="hoveranimation h-6 w-6" />
		</a>
		<a href={social.rss} aria-label="rss" rel="noopener noreferrer">
			<Icon name="la:rss" class="hoveranimation h-6 w-6" />
		</a>
	</div>
</footer>
